DB_USER=your_user
DB_PASSWORD=your_password
DB_HOST=your_host
DB_NAME=your_bd_name
DB_PORT=your_db_port

SECRET_TOKEN=your_secret_token
EXPIRATION_TOKEN=your_time_expiration
REFRESH_TOKEN=your_time_refresh